*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
 font-family: 'Roboto', sans-serif; 
 width: 100%;
}
.navbar{
  background-color: white;
}
.navbar-brand{
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  letter-spacing: 4px;
  font-size: 20px;
}
.nav-item{
  padding-left:20px;
  padding-right:20px;
}
.nav-item a{
  text-decoration: none;
    color: #333;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.img-container{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.inner-container{
  text-align: center;
  color: white;
  width: 100%;
  height: 80vh;
  margin-top: 80px;
}
#logo{
  padding-top: 5%;
  padding-bottom: 5%;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.full-width-bar{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #be1e2d;
  color: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;

}

.full-width-bar p{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}

h1{
  font-size: 4em;
  text-transform: uppercase;

}
h2{
  margin-top: 80px;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  
}
h3{
  font-size: 1.3em;
  text-align: center;
  font-weight: 400;

}
P{
  font-size: 22px;
  font-weight: 400;
}


.about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}

.aboutMe{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.aboutMe h2{
  background-color: #be1e2d;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%
}
.aboutMe p{
 padding-top: 25px;
}

.portfolio{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.portfolio iframe{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.portfolio a{
  color:  #be1e2d;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 600px;
  
}

.link-container{
  padding-bottom: 30px;
}

#contact{
  background-color: #be1e2d;
  color: white;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
#contact h2{
  margin-top: 0px;
}
#contact-form{
  display: flex;
  flex-direction: column;
  width: 50%;
  color: white;
  
}
#contact-form input{
  padding-top: 10px;
  color: white;
  background-color: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: white 2px solid;
}

#contact-form textarea{
  padding-top: 10px;
  color: white;
  background-color: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: white 2px solid;

}
#contact-form button{
margin-top: 30px;
background-color: transparent;
color: white;
font-size: 20px;
border: white 2px solid;
}

#contact-form ::placeholder{
  color: white;
  font-size: 20px;
}
input:focus {
  outline-width: 0;
  border: 0;
}
textarea:focus{
  outline-width: 0;
  border: 0;
}

.iframe-container{

  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.iframe-container iframe{
  position: absolute;
  width: 80%;
  height: 80%;
  margin-left: 10%;
}
#site-bottom-tag{
  font-size: 12px;
}


@media screen and (max-width:880px){
  body{
      overflow-x: hidden;
  }
  .inner-container img{
      width: 60%;
      }

  .about{
      
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: auto;
     
  }

  
  .aboutMe{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 85%;
      margin-top: 20px;
  }

  #portrait{
    display: block;
    margin-top: 16px;
    justify-content: center;
      
   }

   #contact{
    background-color: #be1e2d;
    color: white;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  
  }
  #contact-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    
  }

}














